*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --font-general: poppins, sans-serif;
}
html{
    background-color: black;
    font-size: 62.5%;
    font-family: var(--font-general);
}

/*FOOTER*/
.nav-main{
    background-color: black;
    width: 100vw;
    height: 12vh;
    padding: 17px;
}
.nav-main__logo img{
    width: 200px;
    display: inline-block;
    position: absolute;
    left: 15px;
}



/*MAIN*/
main{
    background-color: black;
}

/*MAIN - botton*/
.main-content{
    background-color: black;
    width: 100vw;
    height: 76vh; 
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-content a{
    text-decoration: none;
}
.main-content__button{
    background-color: black;
    color: #ffffff;
    width: 340px;
    height: 75px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 20px;
    bottom: 50px;
    cursor: pointer;
    transition: 0.2s;
}
.main-content__button:hover{
    background-color: #005BFE; 
    border: none;
    width: 339px;
    height:90px;
}
.main-content__button p{
    font-family: var(--font-general);
    font-size: 2.0rem;
    text-align: center;
    justify-content: center;

}
.main-content__button img{
    width: 85px;
    display: inline-block;
}

/*MAIN - social media*/
.about-us{
    width: 100vw;
    height: 12vh;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position:absolute;
    bottom: 0;
}
.about-us nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.about-us nav img{
    margin-right: 30px;
    width: 23px;
    position: relative;
    cursor: pointer;
    transition: 0.1s;
}
.about-us a{
    color: #ffffff;
    font-family: var(--font-general);
    font-size: 1.8rem;
    text-decoration: none;
    font-style: normal;
    cursor: pointer;
}